@import url('https://fonts.googleapis.com/css2?family=Rubik&family=Secular+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    font-family: Rubik, sans-serif;
}

h2 {
    font-family: 'Secular One';
}

ul {
    list-style: none;
}

body {
    background-color: black;
    overflow: hidden;
}

main::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    min-height: 100vh;
    width: 80vw;

    background: linear-gradient(-230deg, #000 40%, rgba(0, 0, 0, 0)65%) no-repeat;
}

main .personagem {
    display: none;
    height: 100vh;
}

main .personagem.selecionado {
    display: block;
}

main .personagem .imagem {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.conteudo {
    position: absolute;
    top: 0;
    left: 120px;


    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    max-width: 380px;
    z-index: 1;
}

.conteudo .nome-personagem {
    color: white;
    font-size: 48px;
    margin-bottom: 1rem;
}

.conteudo .descricao {
    color: white;
    font-size: 16px;
    line-height: 24px;
}

.conteudo .logo {
    background-image: url("../imagens/one-piece-logo.png");
    background-size: cover;
    width: 230px;
    height: 100px;
    margin-bottom: 1rem;
}

.botoes {
    position: fixed;
    top: 0;
    right: 0;


    min-height: 100vh;
    justify-content: center;
    display: flex;
    width: 180px;
    align-items: center;
    flex-direction: column;
    gap: 1rem;

    background-color: rgba(0, 0, 0, 0.3);
}

.botoes .botao {
    border: none;
    background: black;
    cursor: pointer;
    border-radius: 50%;
}

.botoes .botao img {
    border-radius: 50%;
}

.botoes .botao.selecionado {
    transform: scale(1.2);
    box-shadow: 0 0 10px #d9d9d9;
}